@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    background-image: url(img/bg.jpg);
}

.container {
    width: 95%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.digitalClock {
    background-color: rgba(0, 0, 0, 0.701);
    width: fit-content;
    border-radius: 2px;
    color: #fff;
}

.digitalClock h1 {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    font-size: 5rem;
}

.container-input {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 5px;
    padding: 0 15px;
    color: black;
    justify-content: space-around;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputs input {
    width: 30px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.626);
    color: black;
}

.counter {
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.counter-title {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

#next {
    padding-left: 10px;
    transition: 0.6s linear;
}

#next:hover {
    
    color: #fff;
}

@media (max-width: 768px) {
    #bar2 {
        display: none;
    }
    .digitalClock {
        text-align: center;
        width: 100%;
    }

    .digitalClock .block {
        display: block;
    }
}

@media (max-width: 480px) {
    .digitalClock h1 {
        font-size: 2rem;
    }

    

    .container-input {
        font-size: 0.7rem;
    }
}
